body {
	padding-left: 15px;
}

.page-header {
	background-color: #ff9400;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: #FFFFFF;
	font-size: 36pt;
	text-decoration: none;
}

.content {
	margin-left: 40px;
}

h1, h2, h3, h4 {
	font-family: 'Abril Fatface';
}

.Name {
	float: right;
	color: #828282;
}

.Name h1 {
	color: black;
	text-decoration: underline;
}

.save {
	float: right;
}

.detail-form textarea, .detail-detail input {
	width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
	color: #FFFFFF;
	float: right;
	font-size: 26pt;
	margin-right: 20px;
	padding-top: 25px;
	font-family: 'Abril Fatface'
}

.detail {
	margin-bottom: 70px;
}

.detail h1 a, .detail h1 a:visited {
	color: #000000;
}

.pref-form textarea, .pref-detail input {
	width: 100%;
}

.pref {
	margin-bottom: 70px;
}

.pref h1 a, .pref h1 a:visited {
	color: #000000;
}

.warning {
	color: red;
	font-size: 32px;
	font-weight: bold;
	font-family: verdana;
	text-decoration: underline;
	border:1px;
}

.post-form {
	padding-left: 20px;
}

.glyphicon.glyphicon-plus {
    font-size: 50px;
    padding-left: 45px;
    /*padding-top: 20px;*/
}
